{% extends 'base.html' %}

{% block title %}Edit Vaccines{% endblock %}

{% block content %}
<section>
    <div class="adopter-edit-container">
        <h2 class="edit-adopter-header">Edit Vaccines</h2>
                <p>Edit Vaccination Record for {{ cat.name }}, ID #{{ cat.id}}:</p>
                <form method="post" enctype="multipart/form-data" id="adopterForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit", id="submitBtn">Save</button>
                </form>

                <br>
            <a href="{% url 'cat_details_url' cat_id=cat.id %}">Back to Cat Details</a>

    
    </div>
{% endblock %}