{% extends 'base.html' %}

{% block title %}Home - Johnson County Community Cats{% endblock %}

{% block header %}Welcome to JC-CC{% endblock %}

{% block content %}
    <section>
        <div class="home-background">
            <div class="about-container">
                <h2>About Us</h2>
                <p>
                    Welcome to Johnson County Community Cats! 
                    <p>
                        We are dedicated to providing a loving and caring
                        environment for cats in need. 
                    </p>
                    <p>
                        Learn more about our mission, the cats we
                        have available for adoption, and the cats we have helped by exploring
                        the links at the top of the page.
                    </p>
                    <p>
                        To inquire about a cat available for adoption, click "Contact Us" and submit the form.
                    </p>
                </p>
            </div>
        </div>
    </section>


{% endblock %}
