/* styles.css */

/* Common styles for all pages */
body {
    background-color: #f8f9fa; /* Match the background color of the base.html */
    font-family: 'Abril Fatface', cursive; /* Match the font-family of the base.html */
}

header {
    background-color: #097aa8; /* Match the header background color of the base.html */
    color: #000000; /* Match the header text color of the base.html */
    text-align: right;
    padding: 10px;
}

/* Specific styles for the Cat List page */
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    display: inline-block;
}

img {
    max-width: 100%; /* Ensure images don't exceed their container width */
}

a {
    color: #ffffff; /* Set the default link color */
}

/* Styling for visited links */
a:visited {
    color: #ffffff; /* Set the color for visited links */
}

h5 {
    font-family: 'Playfair Display', serif;
    text-align: left; /* If you want to left-align the text */
    /* Other styling for h5 goes here */
}

h6 {
    font-family: 'Playfair Display', serif;
    text-align: left; /* If you want to left-align the text */
    /* Other styling for h5 goes here */
}